/* General Resets */
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/helveticaneue-light.eot');
    src: url('../fonts/helveticaneue-light.eot') format('embedded-opentype'),
         url('../fonts/helveticaneue-light.woff') format('woff'),
         url('../fonts/helveticaneue-light.ttf') format('truetype'),
         url('../fonts/helveticaneue-light.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot');
    src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff') format('woff'),
        url('../fonts/icomoon/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* General button style (reset) */
#loading {
    background:url("ajax-loader.gif") no-repeat cente;
    height: 100px; width: 100px;
    position: fixed; left: 50%; top: 50%; z-index: 1000;
    margin: -25px 0 0 -25px;
}
body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.btn {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
    color: #A8A8A8;
    background: none;
    cursor: pointer;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn span {
    color: #FF2B06;
}

.hidden { display: none !important }
.red { color: #FF2B06 }
/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #333;
    background: #FFF;
    overflow: hidden;
}

p {
    font-size: 1em;
    line-height: 25px;
    margin-top: 0
}

h2 span {
    font-weight: 300;
    color: #FF2B06;
}

.pt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pt-page {
    width: 100%;
    height:;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js body {
    overflow: auto;
}

.pt-trigger-container {
    position: absolute;
    width: 200px;
    z-index: 200;
    margin-top: 16%;
}

.pt-trigger {
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px 0 50px;
    line-height: 35px;
    height: 35px;
    width: 100%;
    cursor: pointer;
    display: block;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background: rgba(0,0,0,0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	-webkit-border-top-right-radius: .2em;
	-moz-border-top-right-radius: .2em;
	border-top-right-radius: .2em;
	-webkit-border-bottom-right-radius: .2em;
	-moz-border-bottom-right-radius: .2em;
	border-bottom-right-radius: .2em;
}

/* On hover */
.pt-trigger:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FF2B06;
	-webkit-border-top-right-radius: .2em;
	-moz-border-top-right-radius: .2em;
	border-top-right-radius: .2em;
	-webkit-border-bottom-right-radius: .2em;
	-moz-border-bottom-right-radius: .2em;
	border-bottom-right-radius: .2em;
}

.pt-trigger:hover span {
    color: #FFF;
}

.pt-trigger:hover,
.pt-trigger:active {
    color: #FFF;
}

.pt-trigger:hover:after,
.pt-trigger:active:after {
    width: 100%;
	
}

/* Current Page */
.on-page {
    background: #FF2B06;
    color: #FFF;
}

/* Page Styles */
.pt-page-ontop {
    z-index: 999;
}

.pt-page h1 {
    position: absolute;
    font-weight: 300;
    font-size: 2.4em;
    top: 35%;
    width: 70%;
    left: 50%;
    margin-left: -33%;
    text-align: center;
}

.page-container{
    padding: 35px 100px 0 200px;
    height:100%;
}
.row {
    overflow: auto;
    position: relative;
    max-height: 85%;
}
.col-half{
    width: 50%;
    padding: 0 30px;
    float: left;
}

.top-10 { margin-top: 10px }
.top-20 { margin-top: 20px }
.bot-10 { margin-bottom: 10px }
.bot-20 { margin-bottom: 20px }
.text-center { text-align: center }
.pull-left { float: left }
.pull-right { float: right }

/* Page 1 - Home */
.pt-page-1 {
    background: #FFF;
    overflow: ;
}
.tedx-logo {
    background: url("../img/TEDx_logo.png") no-repeat;
    right: 109px;
    width: 300px;
    height: 85px;
    top: 20%;
}

.theme {
	position: absolute;
	right:65px;
	width:342px;
    height:65%;
    margin-top: 7%;
}

.theme-description-title {
    margin: 0px 0 5px;		
    font-weight:300;
}

.theme-description-p {
    margin: 10px 0px 15px;
}

.social_icons {
    height:2.1em;
    padding-right: 1.5em;
    padding-left: .2em;
}

.theme-description-footer {
	position:fixed;
	top:.5em;
    left: 0;
	text-align:center;
	width:100%;
	color: #bbb;
	font-size:85%;
	opacity:1;
}

.black-banner {
	width: 100%;
    height:100%;
	z-index: 1000;
	position:absolute;
    top:80%;
	background-color: #000;
	border-top:3px solid #FF2B06;
}

.black-banner h2 {
	color:#fff;
	text-align:center;
	vertical-align:middle;
	opacity:.9;
	font-weight:400;
}	

.icon:before,
.icon:after {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pt-page-2 {
    background: #FFF;
}

/*About Page*/
.pt-page-3 {
  background: #FFF;
	height:100%;
	width:100%;
}
.about_img {
	position:absolute;
	width:116%;
	bottom:-15em;
	left:-10%;
}

.description-ted {
    position:relative;
    height:800px;
    overflow:auto;
}

.description-ted-title {
	font-size: 1.4em;
}
.description-ted-body {
	opacity: .7;
}
.description-tedx-title {
	font-size: 1.4em;
	font-weight:bolder;
}

.description-tedx-body {
	opacity:.7;
}
/*End of About*/

/* FAQ Page */
.pt-page-4 {
    background: #FFF;
		overflow:scroll;
		height:100%;
}

.pt-page-8 {
	overflow:scroll;
	height:80%;
}

.description-ted-heading{
    font-weight: 600;
}
/*End FAQ Page */

/*Partners Page*/
.pt-page-5 {
    background: #FFF;
}

.partners-text {
    font-size:12pt;
    margin-top:2%;
    color:#555;
}

.partners-text span {
    color:#A8A8A8;
}

.partners-images {
}

.partner-logo {
    width:18em;
    margin:2%;
    margin-left:10%;
}

.pt-page-6 {
    background: #FFF;
}

.pt-page-7 {
    background: #FFF;
}
/*No Animation Support Message Style*/
.pt-message {
    display: none;
    position: absolute;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da475c;
    color: #333;
    text-align: center;
}

.pt-message p {
    margin: 0;
    line-height: 60px;
    font-size: 26px;
}

.no-cssanimations .pt-message {
    display: block;
}

/*Contact Page*/

.contact-img {
    position:fixed;
    top:-130px;
    width: 118%;
    height: 300px;
    left:-10%;
    background-image: url("../img/About_illustration.png");
    background-position-y: -140px;
    background-size: cover;
}

#contact-area {
	width: 700px;
    margin: 10% auto;
}

#contact-area input, #contact-area textarea {
	padding: 8px;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
    font-size:11pt;
	margin: 5px 0px 10px 0px;
	border: 1.5px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10%;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 400px;
	font-family: 'Open Sans', sans-serif;
	margin: 5px 0px 10px 0px;
	border: 1px solid #ddd;
    outline: none;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

#contact-area textarea {
	height: 200px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border:1px solid #fafafa;
    -webkit-box-shadow:0 0 6px #FF2B06;
    -moz-box-shadow:0 0 5px #FF2B06;
    box-shadow:0 0 5px #FF2B06;
    outline: none;
}

#contact-area .submit-button {
    background: #FFF;
    color: #BBB;
    border: 1px solid #BBB;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

#contact-area .submit-button:hover, .submit-button:active {
    color: #FF2B06;
    border: 1px solid #FF2B06;
}

#contact-area label {
	float: left;
	text-align: right;
	margin-right: 20px;
	width: 150px;
	padding-top: 5px;
    margin-top: 3px;
}

/*Speaker page*/

#speaker-page-wrap {
	margin: 130px 0px 100px 100px;
}

.da-thumbs {
	list-style: none;
	position: relative;
	padding: 0;
}
.da-thumbs li {
	float: left;
	background: #fff;
	position: relative;
}
.da-thumbs li a,
.da-thumbs li a img {
	height: 160px;
	width: 180px;
	display: block;
	position: relative;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
	position: absolute;
	background: rgba(255,43,6,0.8);
	width: 100%;
	height: 100%;
    padding: 15px;
}
.da-thumbs li a div span {
	display: block;
    border-bottom: 1px solid #FFF;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
    margin-bottom: 10px;
}
.da-thumbs li a div small {
    color: #FFF;
    text-transform: uppercase;
    font-size: 10px;
}

/*Speakers Pages*/
.speaker-row{
    margin: 10% 0;
    padding-bottom: 20%;
}
.back-icon{
    position: absolute;
    top: 100px;
    font-size: 20px;
    color: #FF2B06;
    text-decoration: none;
    border: 3px solid;
    border-radius: 100%;
}
.speaker-row img{
    border-radius: 3px;
}
.speaker-row h3{
    border-bottom: 1px solid #ddd;
}
.page-container-bottom{
    background-image: url(../img/About_illustration.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 200%;
}
.page-container-top{
    background-image: url(../img/About_illustration.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -100%;
}

/*Apply Page Styling*/
.delegate-application{
    font-weight: 300;
    color: #FF2B06;
    font-size: 1.5em;
}
#apply-area {
	padding:5% 15% 0% 22%;
	text-align:center;
    width: 100%;
    height: 100%;
}

#apply-area label span {
    color:#FF2B06;
    font-weight:300;
    text-align: center;
}
.apply_illustration {
    width:100%;
    position:fixed;
    bottom:-21%;
    left:0;
}

/* Form Styles */

/*
    Common 
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}

.campus-choice{
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 1px solid #FF2B06;
    border-radius: 5px;
    margin: 10px 20px;
    color: #FF2B06;
    padding: 15px 25px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.position-choice{
	display: inline-block;
	width: 250px;
	height: 3em;
    border: 1px solid #4C4C4C;
    border-radius: 5px;
    color: #4C4C4C;
    padding: 1em 0;
	margin: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.wizard-message{
    width: 100%;
    height: 85%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
		font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    outline: none;
    resize: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#count_left{
    color: #aaa; 
}

/* Wizard */
.content{
}

.wizard section {
    margin-top: 1em;
}

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 6.5%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a{
    display: inline-block;
    width: auto;
    line-height: 1px;
    height: 40px;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.wizard > .steps a:hover, .wizard > .steps a:active{
    background: #FF2B06;
    color: #FFF;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #eee;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #FF2B06;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: rgba(255, 49, 17, 0.65);
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content {
    display: block;
    margin: 0;
    height: 100%;
    min-height: 28em;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 5% 2.5% 10% 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: inline-block;
    border: none;
    padding: 10px 10px 2px;
    border-bottom: 1px solid #ddd;
    vertical-align: 2px;
    margin: 0 8px;
    font-size: 1.5em;
    outline: none;
    font-family: 'HelveticaNeueLight', Calibri, Arial, sans-serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 10%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a{
    background: #FFF;
    color: #BBB;
    border: 1px solid #BBB;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.wizard > .actions a:hover,
.wizard > .actions a:active{
    color: #FF2B06;
    border: 1px solid #FF2B06;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
    display: none;
}

.success-message{
	padding-top: 10%;
    display: none;
	height: 200px;
}
.unsuccess-message{
	padding-top: 10%;
    display: none;
	height: 200px;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}